@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  width: 100%;
  max-width: 80rem;
}

@theme {
  /* Red Shades */
  --color-red-45: #e50000;
  --color-red-50: #ff0000;
  --color-red-55: #ff1919;
  --color-red-60: #ff3333;
  --color-red-80: #ff9999;
  --color-red-90: #ffcccc;
  --color-red-95: #ffe5e5;
  --color-red-99: #fffafa;
  /* Black Shades */
  --color-black-06: #0f0f0f;
  --color-black-08: #141414;
  --color-black-10: #1a1a1a;
  --color-black-12: #1f1f1f;
  --color-black-15: #262626;
  --color-black-20: #333333;
  --color-black-25: #404040;
  --color-black-30: #4c4c4c;
  /* Grey Shades */
  --color-grey-60: #999999;
  --color-grey-65: #a6a6a6;
  --color-grey-70: #b3b3b3;
  --color-grey-75: #bfbfbf;
  --color-grey-90: #e4e4e7;
  --color-grey-95: #f1f1f3;
  --color-grey-97: #f7f7f8;
  --color-grey-99: #fcfcfd;
}

/* Global */
html,
body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  cursor: pointer;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

p {
  font-size: 14px;
  color: var(--color-grey-60);
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 18px;
  }
}

/* Custom Selections */
::selection {
  background: var(--color-red-45);
  color: var(--color-grey-99);
}

/* Lazy Load */
.lazy-load-image-background {
  display: block !important;
  height: 100% !important;
  width: 100% !important;
}
